:root {
  --primary-yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background-color: var(--primary-yellow);
}

main {
  font-family: "Figtree", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container-card {
  width: 100%;
  min-width: 220px;
  border: 1px solid var(--black);
  border-radius: 16px;
  padding: 18px;
  background: var(--white);
  box-shadow: var(--black) 6px 6px;
}

.main-container--logo img {
  width: 250px;
  border-radius: 5px;
}

.main-container-card--info {
  min-width: 220px;
  width: 250px;
}

.main-container-card--info .main-container-card--tag {
  margin: 15px 0px 15px 0;
}

.main-container-card--info .main-container-card--tag span {
  font-weight: 800;
  background-color: var(--primary-yellow);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.main-container-card--info h1 {
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: var(--black);
}

.main-container-card--info h1:hover {
  cursor: pointer;
  color: var(--primary-yellow);
}

.main-container-card--publicationDate {
  font-weight: 500;
  margin-bottom: 10px;
}

.main-container-card--info .card-description {
  color: var(--grey);
  font-weight: 500;
  line-height: 1rem;
  font-size: 0.8rem;
  margin-bottom: 15px;
}

.main-container--avatar {
  height: 25px;
  position: relative;
  background-image: url("/assets/images/image-avatar.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.main-container--avatar span {
  position: absolute;
  left: calc(16%);
  top: 8px;
  font-weight: 800;
}

.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
